services:
  pg:

    image: postgres:13-alpine
    container_name: postgres-db
    
    
    ports:
      - '5432:5432'
    
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=axis
    
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: